.titulo-galeria {
    display: flex;
    text-align: center;
    flex: content;
    flex-direction: column;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    /* grid-auto-flow: row; */
    padding: 12px;
    border-radius: 10px;
    grid-template-areas:
        "img-1 img-2 img-3"
        "img-4 img-5 img-6"
        "img-7 img-8 img-9";
}

.img-gal>img {
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.img-1 {
    grid-area: img-1;
}

.img-2 {
    grid-area: img-2;
}

.img-3 {
    grid-area: img-3;
}

.img-4 {
    grid-area: img-4;
}

.img-5 {
    grid-area: img-5;
}

.img-6 {
    grid-area: img-6;
}

.img-7 {
    grid-area: img-7;

}

.img-8 {
    grid-area: img-8;
}

.img-9 {
    grid-area: img-9;
}

body {
    background-color: violet;
}

.column {
    display: flex;
    padding: 5px;
}

.column__fotos {
    display: flex;
    flex: 33%;
    padding: 1rem;
    margin: 5px;
}

.img-logo {
    width: 150px;
    height: 150px;
    background-color: black;
    padding-left: 15px;
    padding-top: 15px;

}