
.noticia__texto {
    width: 700px;
    height: 400px;
    border: 3px violet dashed;
    margin: 3px;
    padding: 3px;
    text-align: left;
    text-align: justify;
    font-family: 'Roboto Condensed', sans-serif;
}