
.noticia__texto {
    width: 75%;
    height: 70%;
    margin: 3px;
    padding: 3px;
    text-align: left;
    text-align: justify;
    font-family: 'Roboto Condensed', sans-serif;
    top: 1rem;
}
.noticia{
    text-align: center;
    text-align: justify;
    display: flex;
    margin: 3px;
    padding: 3px;
    align-items: center;
    flex-direction: column;
}

.parrafo-importante{
    font-weight: bold;
}
.parrafo-importante :hover{
    background-color: palevioletred;
}
.noticia__titulo{
    text-align: center;
    text-decoration: dotted;
    font-weight: bold;
    color: white;
    font-family:'Cormorant Garamond', serif ;
    padding: 3px;
    margin: 3px;
    display: flex;
    font-family: 'Domine', serif;
}