
/* VARIABLES GLOBALES */

$violeta-oscuro: rgb(106, 20, 79);
$black:black;
$violeta-claro: #bda7be;
$violeta-azulado: blueviolet;
$azul-violacio: cornflowerblue;
$rosa-clarito: #f58cf9;
$blanco: white;


